.listegenre{
    text-decoration: none;
    gap: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.listegenre a{
    background-color: aliceblue;
    border-radius: 90px;
    text-decoration: none;
    width: auto;
    height: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.listegenre p{
    background-color: aliceblue;
    color: brown;
}

h3{
    background-color: rgb(255, 255, 255);
    width: auto;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.genreBar{
    background-color: brown;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    
    align-items:center;
}

.affiche{
    background-color: brown;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.affiche p{
    color: darkslategray;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.afficheConteneur{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    gap: 10px 10px;
}